.monaco-editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.monaco-editor {
  height: 100%;
  width: 100%;
}

.empty-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #888;
  background-color: inherit;
}
